{{define "contracts"}}
package {{.Package}}

import (
    "math/big"
    "strings"

    {{range $name, $import := .Imports}}{{$name}} "{{$import}}"
    {{end}})

{{template "wrapper" .Contract}}
{{end}}

{{define "wrapper"}}
    // {{.Type}}ABI is the input ABI used to generate the binding from.
    const {{.Type}}ABI = "{{.InputABI}}"

    {{template "PrimitiveContract" .}}
    {{template "PrimitiveSession" .}}
    {{template "PrimitiveRaw" .}}

    {{template "MethodCalls" .}}
    {{template "MethodTransacts" .}}
    {{template "Events" .}}
{{end}}
